header {
    background-color: palevioletred;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: cadetblue;
    height: 20%;
}

text{
    text-align: center;
    color: purple;
}



table {
    background-color: plum;
    text-align: center;
    color: purple;
}

body {
    background-color: pink;
}

h1 {color: purple;
text-align: center;
}

h2 {color: purple;
    text-align: center;
    }

    h3 {color: purple;
        text-align: center;
        }

p {color:purple; 
    text-align: left;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 


footer {
    background-color: palevioletred;
    padding: 10px;
    text-align: center;
    color: white;
  }

  input[type=text]{

    padding: 12px 14px;
  
    margin: 6px 0;
  
    border: 100px;
  
  position: relative;
  
  box-sizing: border-box;
  
  }
  
  input[type=label]{
  
    padding: 12px 14px;
  
    margin: 6px 0;
  
    border: 100px solid;
  
  position: relative;
  
  box-sizing: border-box; 